<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>

    <div style="padding-left: 16px">
      <!-- <%= dataUser %> -->
      <h2>List users Table:</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i < dataUser.length; i++) { %>
          <tr>
            <td><%= dataUser[i].id %></td>
            <td><%= dataUser[i].firstName %></td>
            <td><%= dataUser[i].lastName %></td>
            <td class="user">
              <form
                action="/detail/user/<%= dataUser[i].id %>"
                method="get"
                name="form"
              >
                <button type="submit">Detail</button>
              </form>
              <form
                action="/edit-user/<%= dataUser[i].id %>"
                method="get"
                name="form"
              >
                <button type="submit">Edit</button>
              </form>

              <form action="/delete-user" method="post" name="form">
                <input
                  type="text"
                  hidden
                  value="<%= dataUser[i].id %>"
                  name="id"
                />
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="create-user-container">
      <form action="/create-new-user" method="post">
        <div>Create new user:</div>
        <div>
          <label>FirstName:</label>
          <input type="text" name="firstName" />
        </div>
        <div>
          <label>LastName:</label>
          <input type="text" name="lastName" />
        </div>
        <div>
          <label>Email:</label>
          <input type="email" name="email" />
        </div>
        <div>
          <label>Address:</label>
          <input type="text" name="address" />
        </div>
        <button type="submit" class="btn-submit">Submit</button>
      </form>
    </div>
  </body>
</html>
