<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styleUpdate.css" />
    <title>Update</title>
  </head>
  <body>
    <div class="update-user-container">
      <form action="/update-user" method="post">
        <div>
          <label for="">First name:</label>
          <input type="text" value="<%= user.firstName %>" name="firstName" />
        </div>
        <div>
          <label for="">Last name:</label>
          <input type="text" value="<%= user.lastName %>" name="lastName" />
        </div>
        <div>
          <label for="">Email:</label>
          <input type="text" value="<%= user.email %>" name="email" />
        </div>
        <div>
          <label for="">Address:</label>
          <input type="text" value="<%= user.address %>" name="address" />
        </div>
        <input type="text" hidden value="<%= user.id %>" name="id" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
